<!--Inicio container fluid-->
<div class="container-fluid" id="hm-main-container">
	<!--Inicio seccion pesas-->
	<section id="hm-pesas">
		<div class="row" id="hm-pesas-main">
			<div class="col-sm-2 col-xs-4 col-sm-offset-5 col-xs-offset-4 hm-pesas-logo">
				<%=image_tag('logo_bloanco-01.png', class: 'img-responsive')%>
			</div>
			<div class="col-sm-7 col-xs-8 col-xs-offset-2 text-center hm-pesas-info">
				<p>UNA GRAN COLLECCIÓN DE SUPLEMENTOS PARA COMPLETAR TU ENTRENAMIENTO</p>
			</div>
		</div> 
    </section><!--./Fin seccion pesas-->

    <!--Inicio seccion categorias-->
    <section id="hm-categorias">
    	<div class="row">
    		<div class="col-xs-12 hm-hr"><hr></div>
    		<%=image_tag('franja2-01.png', class: 'hm-fondo')%>
    		<div class="col-sm-2 col-xs-12 col-sm-offset-5 text-center hm-categorias-titulo">CATEGORÍAS</div>
    		<!--Elemento unico-->
    		<div class="col-sm-2 col-xs-3 col-sm-offset-2 hm-categorias-iconos text-center hm-comida">
    			<a href="#"><%=image_tag('iconos-01.png', class: 'img-responsive', alt: 'Icono comida')%></a>
    			<p>Comida</p>
    		</div><!--./Fin Elemento unico-->

    		<!--Elemento unico-->
    		<div class="col-sm-2 col-xs-3 col-sm-offset-4 hm-categorias-iconos text-center hm-belleza">
    			<a href="#"><%=image_tag('iconos-02.png', class: 'img-responsive', alt: 'Icono belleza')%></a>
    			<p>Belleza, baño y cuerpo</p>
    		</div><!--./Fin Elemento unico-->
    		
    		<!--Elemento unico-->
    		<div class="col-sm-2 col-xs-3 col-sm-offset-6 hm-categorias-iconos text-center hm-salud">
    			<a href="#"><%=image_tag('iconos-03.png', class: 'img-responsive', alt: 'Icono salud')%></a>
    			<p>Salud</p>
    		</div><!--./Fin Elemento unico-->
    		
    		<!--Elemento unico-->
    		<div class="col-sm-2 col-xs-3 col-sm-offset-8 hm-categorias-iconos text-center hm-bebes">
    			<a href="#"><%=image_tag('iconos-04.png', class: 'img-responsive', alt: 'Icono bebe')%></a>
    			<p>Bebés y niños</p>
    		</div>	<!--./Fin Elemento unico-->
    		<div class="col-xs-12 hm-hr"><hr></div>
    	</div>

    	<!--./Semi circulo Atributos-->
    	<div id="boton-atributos" class="hidden-xs">
			<figure class="inner-element">
				<%=image_tag('atributos_medial_luna-01.png')%>
			</figure>
			<div class="atributos-info">ATRIBUTOS</div>
		</div><!--./Fin Semi circulo Atributos-->
    </section><!--./Fin seccion categorias-->

    <!--Inicio seccion atributos-->
    <section id="hm-multiple-iconos">
    	<div class="row">
    		<%=image_tag('elementos_Mesa_de_trabajo_31.png', class: 'hm-fondo')%>
    		<div class="col-xs-12 hidden-lg hidden-md hidden-sm text-center hm-multiple-titulo">ATRIBUTOS</div>
        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-1 hm-icon">
        		<%=image_tag('atributos_ver_mas-01.png', alt: 'Icono 1')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->

        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-2 hm-icon">
        		<%=image_tag('atributos_ver_mas-02.png', alt: 'Icono 2')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->

        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-3 hm-icon">
        		<%=image_tag('atributos_ver_mas-03.png', alt: 'Icono 3')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->

        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-4 hm-icon">
        		<%=image_tag('atributos_ver_mas-04.png', alt: 'Icono 4')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->

        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-5 hm-icon">
        		<%=image_tag('atributos_ver_mas-05.png', alt: 'Icono 5')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->

        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-6 hm-icon">
        		<%=image_tag('atributos_ver_mas-06.png', alt: 'Icono 6')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->

        	<!--Elemento unico-->
        	<div class="col-xs-2 text-center hm-multiple-7 hm-icon">
        		<%=image_tag('atributos_ver_mas-07.png', alt: 'Icono 7')%>
        		<p>xxxxxxx</p>
        	</div><!--./Fin Elemento unico-->
        </div>
    </section><!--./Fin seccion atributps-->

    <!--Inicio seccion beneficios-->
    <section id="hm-beneficios" class="curved-above">      
		<div class="row curved-above">     
			<div class="curved-container">                 
				<%=image_tag('curva-morada-01.png', class: 'img hm-fondo hidden-xs')%>
				<div class="inner-container">							
					<div class="inner-element"> 
						<!--Elemento unico-->          
						<div class="circle c1">
							<div class="border-circle">
								<div class="img-circle">
								</div> 
								<div class="hm-beneficios-info">GANAR MASA MUSCULAR</div>
							</div> 
						</div><!--./Fin Elemento unico-->

						<!--Elemento unico-->
						<div class="circle c2">
							<div class="border-circle">
								<div class="img-circle">
								</div> 
							</div> 
						</div><!--./Fin Elemento unico-->

						<!--Elemento unico-->
						<div class="circle c3">
							<div class="border-circle">
								<div class="img-circle">
								</div> 
							</div> 
						</div><!--./Fin Elemento unico--> 
					</div>
				</div>      
			</div>
		</div>	
		</section><!--./Fin seccion beneficios-->

		<!--Inicio seccion reason-->
		<section id="hm-reason" class="curved-above">
		<div class="bg-container">
			<div class="inner-container">
				<div class="row row1">
					<div class="col-lg-4 col-md-3 col-sm-4 col-xs-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-7 col-xs-offset-2">
						<%=image_tag('logo_morado-01.png', class: 'img img-responsive')%>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-3 col-sm-offset-2 inner-element">
						<h2>Nuestra razón de ser... <br class="hidden-sm hidden-xs">Tu salud</h2>
						<p class="text-justified">
						  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						  commodo consequat.
						</p>
					</div>
				</div>
			</div>
			<div class="curved-container">
				<div class="curved-bottom"> 
				</div>
			</div>
		</div>
	</section><!--./Fin seccion reason-->

	<!--Inicio seccion mision-->
    <section id="hm-mission" class="curved-above">
        <div class="rowr">
            <div class="bg-container">
                <div class="row inner-element">
                    <figure class="col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-4">
                        <%=image_tag('elementos-05.png', class: 'img img-responsive hm-mission-v1')%>
                    </figure>
                    <%=image_tag('elementos-06.png', class: 'hm-mission-v2 hidden-xs')%>
                </div>
                <div class="row inner-element">
                    <div class="col-xs-12">
                        <h4 class="text-center hm-mision-bold">En Vitalshop tenemos la misión de hacer la vida de las personas más sana y saludable.</h4>
                    </div>  
                </div>
                <div class="row inner-element">
                    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
                        <h1 class="text-center hm-mision-bold">3000+</h1>
                        <h4 class="text-center hm-mision-bold">Productos saludables</h4>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h1 class="text-center hm-mision-bold">400+</h1>
                        <h4 class="text-center hm-mision-bold">Marcas reconocibles</h4>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h1 class="text-center hm-mision-bold">25 a 50%</h1>
                        <h4 class="text-center hm-mision-bold">Descuento al por menos</h4>
                    </div>
                </div>
                <div class="row inner-element">
                    <div class="col-xs-offset-2 col-xs-8">
                        <p class="text-center">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>        
    </section><!--./Fin seccion mision-->

    <!--Inicio seccion user reviews-->
    <section id="hm-user-reviews">
    	<!--Inicio nav bar-->
    	<div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">                
                    <ul class="nav navbar-nav">
                      <li><a href="#"><b class="lime">TESTIMONIOS</b></a></li>
                      <li><a href="#"><b class="lime">NUESTRA HISTORIA</b></a></li> 
                      <li><a href="#"><b class="lime">¿CÓMO FUNCIONA?</b></a></li> 
                      <li><a href="#"><b class="lime">VITAL SHOP OFRECE</b></a></li> 
                    </ul>
                </div>
            </nav>
        </div><!--./Fin nav bar-->
        <div class="row">
            <div class="bg-container">
                <h1 class="text-center hm-reviews-title">User reviews</h1>
                <div class="row">
                	<!--Elemento unico-->
                    <div class="col-sm-5 col-xs-10 col-xs-offset-1">                
                        <figure class="circle">
                            <%=image_tag('avatar-02.png', class: 'img img-responsive')%>
                        </figure>    
                        <div class="comment">
                            <h3 class="bold">Lorem ipsum dolor</h3>
                            <p class="text-justify">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                              commodo consequat.
                            </p>
                        </div>                    
                    </div><!--./Fin Elemento unico-->

                    <!--Elemento unico-->
                    <div class="col-sm-5 col-xs-10 hm-reviews-margin">                
                        <figure class="circle">
                           	<%=image_tag('avatar_Mesa_de_trabajo_24.png', class: 'img img-responsive')%>
                        </figure>    
                        <div class="comment">
                            <h3 class="bold">
                              Lorem ipsum dolor
                            </h3>
                            <p class="text-justify">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                              commodo consequat.
                            </p>
                        </div>                    
                    </div><!--./Fin Elemento unico-->            
                </div>
                <div class="row">
                	<!--Elemento unico-->
                  	<div class="col-sm-5 col-xs-10 col-xs-offset-1">
                      	<figure class="circle">
                          	<%=image_tag('avatar-03.png', class: 'img img-responsive')%>
                      	</figure>    
                     	<div class="comment">
                          	<h3 class="bold">
                            	Lorem ipsum dolor
                          	</h3>
                          	<p class="text-justify">
                            	Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            	commodo consequat.
                          	</p>
                      	</div>                    
                  	</div><!--./Fin Elemento unico-->

                  	<!--Elemento unico-->
                  	<div class="col-sm-5 col-xs-10 hm-reviews-margin">                
                      	<figure class="circle">
                          	<%=image_tag('avatar-06.png', class: 'img img-responsive')%>
                      	</figure>    
                      	<div class="comment">
                          	<h3 class="bold">
                            	Lorem ipsum dolor
                          	</h3>
                          	<p class="text-justify">
                            	Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            	commodo consequat.
                          	</p>
                      	</div>                    
                  	</div><!--./Fin Elemento unico-->           
              </div>
              <div class="row">
              		<!--Elemento unico-->
                  	<div class="col-sm-5 col-xs-10 col-xs-offset-1">                 
                     	<figure class="circle">
                          	<%=image_tag('avatar-04.png', class: 'img img-responsive')%>
                      	</figure>    
                      	<div class="comment">
                          	<h3 class="bold">
                            	Lorem ipsum dolor
                          	</h3>
                          	<p class="text-justify">
                            	Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            	commodo consequat.
                          	</p>
                      	</div>                    
                  	</div><!--./Fin Elemento unico-->

                  	<!--Elemento unico-->
                  	<div class="col-sm-5 col-xs-10 hm-reviews-margin">                
                      	<figure class="circle">
                          	<%=image_tag('avatar-05.png', class: 'img img-responsive')%>
                      	</figure>    
                      	<div class="comment">
                          	<h3 class="bold">
                            	Lorem ipsum dolor
                          	</h3>
                          	<p class="text-justify">
                            	Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                           	 	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            	minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            	commodo consequat.
                          	</p>
                      	</div>                    
                  	</div><!--./Fin Elemento unico-->          
              	</div>
            </div>
        </div>
    </section><!--./Fin seccion user reviews-->
</div><!--./Fin container-fluid-->
