<div class="container-fluid" id="mp-main-container">
	<div class="row max-width-container"> 
		<!--Inicio Filtro-->
      	<div class="col-sm-3 col-xs-12 mp-filtro-container">
      		<!--Inicio Filtro header -->
      		<div class="mp-curved-bot mp-header-filtro">
		        <p class='text-center'><strong>Filtro</strong></p>
		    </div><!--./Fin Filtro header -->
		    <!--Inicio Acoridion container-->
		    <div class="panel-group" id="mp-accordion">
		    	<!--Inicio Acoridion individual-->
		        <div class="panel panel-default">
		          	<div class="panel-heading">
		            	<div class="row">
		              		<div class="col-xs-9">
		                		<div class="panel-title font-14">
		                  			<a data-toggle="collapse" data-parent="#mp-accordion" href="#collapse1">ALIMENTOS</a>
		                		</div>
		              		</div>
		              	
			              	<div class="col-xs-3 text-right font-12">
			                  	<a class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#mp-accordion" href="#collapse1"></a>
			              	</div>
			            </div>
		            </div>
		            <div id="collapse1" class="panel-collapse collapse">
			            <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				              commodo consequat.
				            </p>
			            </div>
			        </div>
		        </div>
		        <!--Fin Acoridion individual-->

		        <!--Inicio Acoridion individual-->
		        <div class="panel panel-default">
		          	<div class="panel-heading">
		            	<div class="row">
		              		<div class="col-xs-9">
		                		<div class="panel-title font-14">
		                  			<a data-toggle="collapse" data-parent="#mp-accordion" href="#collapse2">BELLEZA</a>
		                		</div>
		              		</div>
		              	
			              	<div class="col-xs-3 text-right font-12">
			                  	<a class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#mp-accordion" href="#collapse2"></a>
			              	</div>
			            </div>
		            </div>
		            <div id="collapse2" class="panel-collapse collapse">
			            <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				              commodo consequat.
				            </p>
			            </div>
			        </div>
		        </div>
		        <!--Fin Acoridion individual-->

		        <!--Inicio Acoridion individual-->
		        <div class="panel panel-default">
		          	<div class="panel-heading">
		            	<div class="row">
		              		<div class="col-xs-9">
		                		<div class="panel-title font-14">
		                  			<a data-toggle="collapse" data-parent="#mp-accordion" href="#collapse3">BIENESTAR</a>
		                		</div>
		              		</div>
			              	<div class="col-xs-3 text-right font-12">
			                  	<a class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#mp-accordion" href="#collapse3"></a>
			              	</div>
			            </div>
		            </div>
		            <div id="collapse3" class="panel-collapse collapse">
			            <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				              commodo consequat.
				            </p>
			            </div>
		        	</div>
		        </div>
		        <!--Fin Acoridion individual-->

		        <!--Inicio Acoridion individual-->
		        <div class="panel panel-default">
		          	<div class="panel-heading">
		            	<div class="row">
		              		<div class="col-xs-9">
		                		<div class="panel-title font-14">
		                  			<a data-toggle="collapse" data-parent="#mp-accordion" href="#collapse4">FITNESS</a>
		                		</div>
		              		</div>
			              	<div class="col-xs-3 text-right font-12">
			                  	<a class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#mp-accordion" href="#collapse4"></a>
			              	</div>
			            </div>
		            </div>
		            <div id="collapse4" class="panel-collapse collapse">
			            <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				              commodo consequat.
				            </p>
			            </div>
			        </div>
		        </div>
		        <!--Fin Acoridion individual-->

		        <!--Inicio Acoridion individual-->
		        <div class="panel panel-default">
		          	<div class="panel-heading">
		            	<div class="row">
		              		<div class="col-xs-9">
		                		<div class="panel-title font-14">
		                  			<a data-toggle="collapse" data-parent="#mp-accordion" href="#collapse5">ATRIBUTOS</a>
		                		</div>
		              		</div>
			              	<div class="col-xs-3 text-right font-12">
			                  	<a class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#mp-accordion" href="#collapse5"></a>
			              	</div>
			            </div>
		            </div>
		            <div id="collapse5" class="panel-collapse collapse">
			            <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				              commodo consequat.
				            </p>
			            </div>
			        </div>
		        </div>
		        <!--Fin Acoridion individual-->

		        <!--Inicio Acoridion individual-->
		        <div class="panel panel-default">
		          	<div class="panel-heading">
		            	<div class="row">
		              		<div class="col-xs-9">
		                		<div class="panel-title font-14">
		                  			<a data-toggle="collapse" data-parent="#mp-accordion" href="#collapse6">PROVEEDOR</a>
		                		</div>
		              		</div>
			              	<div class="col-xs-3 text-right font-12">
			                  	<a class="glyphicon glyphicon-plus" data-toggle="collapse" data-parent="#mp-accordion" href="#collapse6"></a>
			              	</div>
			            </div>
		            </div>
		            <div id="collapse6" class="panel-collapse collapse">
			            <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
				              minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				              commodo consequat.
				            </p>
			            </div>
			        </div>
		        </div>
		        <!--Fin Acoridion individual-->
		    </div><!--./Fin Acorodion container -->

		    <!--Inicio Rating individual-->
		    <div class="col-xs-12">          
		        <hr>
		        <div class="font-14 mp-marbot-7">RATINGS</div>   
			    <div class="squaredThree">
				     <input type="checkbox" value="None" id="mp-star-5" name="check" />
				     <label for="mp-star-5"></label>
				     <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				     <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				     <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				     <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				     <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			    </div>
		    </div><!--./Fin Rating individual-->

		    <!--Inicio Rating individual-->
		    <div class="col-xs-12">   
			    <div class="squaredThree">
			      <input type="checkbox" value="None" id="mp-star-4" name="check" />
			      <label for="mp-star-4"></label>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			    </div> 
		    </div><!--./Fin Rating individual-->

		    <!--Inicio Rating individual-->
		   	<div class="col-xs-12">   
			    <div class="squaredThree">
			      <input type="checkbox" value="None" id="mp-star-3" name="check" />
			      <label for="mp-star-3"></label>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			    </div>
		    </div><!--./Fin Rating individual-->

		    <!--Inicio Rating individual-->
		   	<div class="col-xs-12"> 
			    <div class="squaredThree">
			      <input type="checkbox" value="None" id="mp-star-2" name="check" />
			      <label for="mp-star-2"></label>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			    </div>
		    </div><!--./Fin Rating individual-->

		    <!--Inicio Rating individual-->
		    <div class="col-xs-12">   
			    <div class="squaredThree">
			      <input type="checkbox" value="None" id="mp-star-1" name="check" />
			      <label for="mp-star-1"></label>
			      <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			      <span class="glyphicon glyphicon-star star-gold-half" aria-hidden="true"></span>
			    </div> 
		    </div><!--./Fin Rating individual-->
		    <div class="col-xs-12">
		    	<hr>
		        <h4 class="font-14">PRECIO</h4>
		        <div class="row">
		        	<div class="col-xs-6">
		            	<div class="text-left padd-15">
		              		<h4 id="min" class="font-14"></h4>
		            	</div>
		            </div>
		          	<div class="col-xs-6">
		            	<div class="text-right padd-15">
		              		<h4 id="max" class="font-14"></h4>
		            	</div>
		          	</div>
		        </div>       
		        <div class="col-xs-12">            
			        <div class="padd-15 slider-container">
			          	<!-- Range slider, low and high tracks, and selection: -->
			          	<input id="ex12c" type="text"/>
			        </div>
		      	</div>
		    </div>
      	</div><!-- ./Fin Filtro-->
      	<!--Inicio productos container-->
      	<div class="col-sm-9 col-xs-12 mp-products-container">
      		<!--Inicio producto individual-->
      		<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
			<!--Inicio producto individual-->
			<div class="col-md-4 col-xs-6 text-center mp-product">
			 	<div class="mp-product-image">
			    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
			   	</div>
			   	<div class="mp-product-information">
			   		<p class="font-18">Nombre del producto</p>
				  	<p>Cantidad neta</p>
				  	<div>
					  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
					</div>
				  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
				  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
				  	<div>
				  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
				  	</div>
			   	</div>
			</div><!--./Fin producto individual-->
      	</div><!-- ./Fin productos container-->
    </div><!--./Fin row-->

    <div class="row">
    	<div class="col-xs-12 fondo-blanco">
    		<%=image_tag('fondo_blanco.png')%>
    	</div>
    </div>
</div><!--./Fin container-fluid-->