<div class="container-fluid" id="pu-main-container">
	<!--Inicio de detalles del producto-->
	<div class="row" id="pu-background"> 
		<%= render 'layouts/header_enlaces' %>
		<section class="col-xs-10 col-xs-offset-1 fp-trans margin-container-fluid pu-padd-50">
			<div class="col-sm-6 col-xs-12">
				<!--Inicio producto individual-->
	      		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 col-xs-12 text-center mp-product individual-product">
				 	<div class="mp-product-image">
				    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
				   	</div>
				   	<div class="mp-product-information">
					  	<div>
						  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
						    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
						    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
						    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
						    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
						</div>
						<div class="pu-link-review">
					  		<a href="#">Leave a review</a>
					  	</div>
				   	</div>
				</div><!--./Fin producto individual-->
			</div>
			<div class="col-sm-6 col-xs-12 pu-infonames-product">
				<p>Proveedor</p>
				<h2>Nombre producto</h2>
				<p>Peso neto</p>
				<hr>
				<p class="pu-old-price">$12.000</p>
				<p class="pu-current-price green-color">$8.000 (Ahorra $4000)</p>
				<hr>
				<p>Cantidad</p>
				<input type="text" class="form-control" id="pu-cantidad-productos">
				<div class="btn green-btn">Agregar al carrito</div>
			</div>

			<div class="col-xs-12 pu-slide-1 text-center">
				<ul class="pu-bxslider-1">
				  	<li><%=image_tag('atributos_ver_mas-01.png')%></li>
				  	<li><%=image_tag('atributos_ver_mas-02.png')%></li>
				  	<li><%=image_tag('atributos_ver_mas-03.png')%></li>
				  	<li><%=image_tag('atributos_ver_mas-04.png')%></li>
				  	<li><%=image_tag('atributos_ver_mas-05.png')%></li>
				  	<li><%=image_tag('atributos_ver_mas-06.png')%></li>
				  	<li><%=image_tag('atributos_ver_mas-07.png')%></li>
				</ul>
			</div>

			<div class="col-sm-12 col-xs-12 pu-aditional-info">
				<div class="col-sm-6 col-xs-12">
					<p>WHY YOU'LL LOVE IT</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
					</p>
					<p>SKU: <span>1361835183196</span></p>

					<hr>

					<p>ABOUT THIS BRAND</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						r incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
					</p>
					<p>SHOP THE BRAND</p>
					
					<hr>

					<p>INGREDIENTS</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamo.
					</p>
					
					<hr>

					<p class="pu-disclaimer">
						Disclaimer: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class="col-sm-6 col-xs-12 pu-white-bg">
					<div class="row"><div class="col-xs-6 text-center pu-info-border-right">Serving Size 9 Pieces (42g)</div><div class="col-xs-6 text-center">Serving Per Container about 3.5</div></div>
					<div class="row"><hr></div>
					<div class="row"><div class="col-xs-12">AMOUNT PER SERVING</div></div>
					<div class="row"><div class="col-xs-6 text-left">Calories 250</div><div class="col-xs-6 text-right">Calories from Fat 180</div></div>
					<div class="row"><hr></div>
					<div class="row"><div class="col-xs-12 text-right">% Daily Value*</div></div>
					<br>
					<div class="row"><div class="col-xs-8 text-left">Total Fat 19g</div><div class="col-xs-4 text-right">29%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Satured Fat 12g</div><div class="col-xs-4 text-right">60%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Trans Fat</div><div class="col-xs-4 text-right">0%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Cholesterol 0mg</div><div class="col-xs-4 text-right">0%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Sodium 0mg</div><div class="col-xs-4 text-right">0%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Total Carbohydrate 19g</div><div class="col-xs-4 text-right">6%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Dietary Fiber 5g</div><div class="col-xs-4 text-right">18%</div></div>
					<div class="row"><div class="col-xs-12 text-left">Sugars 11g</div></div>
					<div class="row"><div class="col-xs-12 text-left">Protein 3g</div></div>
					<div class="row"><hr></div>
					<div class="row"><div class="col-xs-8 text-left">Vitamin A</div><div class="col-xs-4 text-right">0%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Vitamin C</div><div class="col-xs-4 text-right">0%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Calcium</div><div class="col-xs-4 text-right">2%</div></div>
					<div class="row"><div class="col-xs-8 text-left">Iron</div><div class="col-xs-4 text-right">10%</div></div>
					<br>
					<div class="row"><div class="col-xs-12">Manufactured in an environment where nuts, milk, gluten and wheat are present.</div></div>
				</div>
			</div>
		</section>

		<div class="col-xs-12 fondo-blanco">
    		<%=image_tag('fondo_blanco.png')%>
    	</div>
    </div><!--./Fin de detalles del producto-->

    <!--Inicio de productos recomendados-->
    <div class="row pu-recomendados">
    	<div class="col-xs-12 text-center">
    		<h2>RECOMENDADOS POR OTROS MIEMBROS</h2>
    	</div>
    	<div class="col-xs-12 pu-slide-2 text-center">
			<ul class="pu-bxslider-2">
			  	<li>
			  		<!--Inicio producto individual-->
					<div class="col-xs-12 text-center mp-product individual-product">
					 	<div class="mp-product-image">
					    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
					   	</div>
					   	<div class="mp-product-information">
					   		<p class="font-18">Nombre del producto</p>
						  	<p>Cantidad neta</p>
						  	<div>
							  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							</div>
						  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
						  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
						  	<div>
						  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
						  	</div>
					   	</div>
					</div><!--./Fin producto individual-->
			  	</li>
			  	<li>
			  		<!--Inicio producto individual-->
					<div class="col-xs-12 text-center mp-product individual-product">
					 	<div class="mp-product-image">
					    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
					   	</div>
					   	<div class="mp-product-information">
					   		<p class="font-18">Nombre del producto</p>
						  	<p>Cantidad neta</p>
						  	<div>
							  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							</div>
						  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
						  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
						  	<div>
						  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
						  	</div>
					   	</div>
					</div><!--./Fin producto individual-->
			  	</li>
			  	<li>
			  		<!--Inicio producto individual-->
					<div class="col-xs-12 text-center mp-product individual-product">
					 	<div class="mp-product-image">
					    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
					   	</div>
					   	<div class="mp-product-information">
					   		<p class="font-18">Nombre del producto</p>
						  	<p>Cantidad neta</p>
						  	<div>
							  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							</div>
						  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
						  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
						  	<div>
						  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
						  	</div>
					   	</div>
					</div><!--./Fin producto individual-->
			  	</li>
			  	<li>
			  		<!--Inicio producto individual-->
					<div class="col-xs-12 text-center mp-product individual-product">
					 	<div class="mp-product-image">
					    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
					   	</div>
					   	<div class="mp-product-information">
					   		<p class="font-18">Nombre del producto</p>
						  	<p>Cantidad neta</p>
						  	<div>
							  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							</div>
						  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
						  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
						  	<div>
						  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
						  	</div>
					   	</div>
					</div><!--./Fin producto individual-->
			  	</li>
			  	<li>
			  		<!--Inicio producto individual-->
					<div class="col-xs-12 text-center mp-product individual-product">
					 	<div class="mp-product-image">
					    	<a href="#"><%=image_tag('product.jpg', class: 'img-responsive')%></a>
					   	</div>
					   	<div class="mp-product-information">
					   		<p class="font-18">Nombre del producto</p>
						  	<p>Cantidad neta</p>
						  	<div>
							  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
							</div>
						  	<p><span class="mp-old-price">$12000</span> <span class="font-18 green-color">$8000</span></p>
						  	<p class="mp-product-descuento green-color">(Ahorra $4000)</p>
						  	<div>
						  		<button class="btn mp-product-btn green-btn">Agregar al carrito</button>
						  	</div>
					   	</div>
					</div><!--./Fin producto individual-->
			  	</li>
			</ul>
		</div>
    </div><!--./Fin de productos recomendados-->

    <!--Inicio de comentarios-->
    <div class="row pu-comentarios">
    	<div class="col-xs-12 text-center">
    		<h2>OPINIONES ACERCA DEL PRODUCTO</h2>
    		<p>(08 OPINIONES)</p>
    	</div>
		<!--Elemento unico-->
      	<div class="col-xs-10 col-xs-offset-1 pu-comentario-unico">
         	<div class="col-xs-3 pu-comen-img">
              	<%=image_tag('avatar-04.png', class: 'img img-responsive')%>
          	</div>    
          	<div class="col-xs-9 pu-comen-info">
              	<h4>ASUNTO REVIEW</h4>
    			<div>
				  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
				<h4>-NOMBRE USER</h4>
          	</div>                    
      	</div><!--./Fin Elemento unico-->
      	<!--Elemento unico-->
      	<div class="col-xs-10 col-xs-offset-1 pu-comentario-unico">
         	<div class="col-xs-3 pu-comen-img">
              	<%=image_tag('avatar-04.png', class: 'img img-responsive')%>
          	</div>    
          	<div class="col-xs-9 pu-comen-info">
              	<h4>ASUNTO REVIEW</h4>
    			<div>
				  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
				<h4>-NOMBRE USER</h4>
          	</div>                    
      	</div><!--./Fin Elemento unico-->
      	<!--Elemento unico-->
      	<div class="col-xs-10 col-xs-offset-1 pu-comentario-unico">
         	<div class="col-xs-3 pu-comen-img">
              	<%=image_tag('avatar-04.png', class: 'img img-responsive')%>
          	</div>    
          	<div class="col-xs-9 pu-comen-info">
              	<h4>ASUNTO REVIEW</h4>
    			<div>
				  	<span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				    <span class="glyphicon glyphicon-star star-gold-full" aria-hidden="true"></span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				</p>
				<h4>-NOMBRE USER</h4>
          	</div>                    
      	</div><!--./Fin Elemento unico-->
      	<div class="col-xs-12 pu-comentario-unico text-center">
      		<div class="btn white-btn">Ver más</div>
      	</div>
    </div><!--./Fin de comentarios-->
</div>

<script type="text/javascript">
	$(document).ready(function(){
		//slider atributos
		$('.pu-bxslider-1').bxSlider({
			controls:true,	
			minSlides: 1,
			maxSlides:6,
			slideWidth: 80,
			moveSlides: 1,
			slideMargin: 30,
			infiniteLoop: true,
			pager: false,
		});
		//slider productos
		$('.pu-bxslider-2').bxSlider({
			controls:true,	
			minSlides: 1,
			maxSlides:4,
			slideWidth: 220,
			moveSlides: 1,
			slideMargin: 30,
			infiniteLoop: true,
			pager: false,
		});
	})
</script>